src/main/resources/testtask2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="commands" type="commandsType"/>
  <xs:complexType name="commandType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commandsType">
    <xs:sequence>
      <xs:element type="commandType" name="command"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>